$primary: #5265e1;

$secondary: #fa5959;

$enable-negative-margins: true;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.btn-secondary {
  color: white;
  background-color: $secondary;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 130px !important;
  margin-left: 15px;
  text-align: center;
  font-size: small;
}

.nav-link {
  font-size: small;
  margin-left: 20px;
}

.btn-secondary:hover {
  color: $secondary;
  background-color: rgb(252, 233, 233);
}

.nav-link:hover {
  color: $secondary;
}

.text-parrafo {
    color: #6c757d; /*se personaliza el color del texto ya que el color secondary original se modificó*/  
}


@media (max-width: 575px) {
  .navbar-toggler {
    border: none; /*elimina el border de la hamburguesa*/
  }

  .navbar-toggler-icon {
    background-image: url("./img/icon-hamburger.svg");
    /*agrega la imagen de hamburguesa del proyecto propio */
  }

  #navbarNavAltMarkup {
    // todo el desplagable azul
    margin-top: 4% !important;
    background-color: $blue-800;
    text-align: center;
    justify-content: center;
  }

  .nav-link {
    color: white; // color de fuente de enlaces en el desplegable
    border-bottom: solid #97a3ed 0.01px;
    margin-right: 4%;
  }

  #nav-link-features {
    color: white; // color de fuente de enlaces en el desplegable
    border-bottom: solid #97a3ed 0.01px;
    margin-top: 4%;
    border-top: solid #97a3ed 0.01px;
  }

  .btn-secondary {
    color: white;
    background-color: $blue-800;
    border: solid white 1px;
    font-size: small;
    margin-bottom: 5px;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: 5px;
  }
  

  #nav-link-features:hover {
    color: $secondary;
  }
}
